<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 content">
        <img
          src="./assets/images/hacienda.png"
          class="footer-image"
          routerLink="/home"
        />
        <p style="margin-left: 50px;">No Farmers Left Behind</p>
      </div>
      <div class="col-md-4 content">
        <h4>Navigation</h4>
        <p class="link" [routerLink]="['/home']">Home</p>
        <p class="link" [routerLink]="['/about-us']">About Us</p>
        <p class="link" [routerLink]="['/services']">Services</p>
      </div>

      <div class="col-md-4 content">
        <h4>Support</h4>
        <p class="link" [routerLink]="['/contact']">Contact us</p>
        <p>Email: Hacienda2023@gmail.com</p>
        <p>Phone: +63 921 830 9168</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright text-center">
        &copy; 2023 Hacienda for Revalida, All Rights Reserved
      </p>
    </div>
  </div>
</footer>

