<app-loader></app-loader>
<div>
  <section class="home-container" fxLayout="column" fxLayoutGap="16px">
    <img src="./assets/images/farmer1.jpg" alt="" class="home-image" />
    <div class="home-text" fxLayout="column" fxLayoutAlign="center center">
      <h4>No Farmer Left Behind</h4>
    </div>
  </section>

  <section class="about-container" fxLayout="column" fxLayoutGap="16px">
    <div class="about-main" fxLayout="row" fxLayout.lt-sm="column">
      <img
        src="./assets/images/farmer2.jpg"
        alt=""
        class="about-image"
        fxFlex="50"
        fxFlex.lt-sm="100"
      />
      <div class="about-text" fxFlex="50" fxFlex.lt-sm="100">
        <h1>About Us</h1>
        <h5>Empowering Agriculture</h5>
        <p>
          At Hacienda, we are committed to revolutionizing the agricultural
          landscape by fostering empowerment and growth. Our platform acts as a
          bridge, connecting farmers with suppliers, facilitating seamless
          transactions, and promoting efficient marketing endeavors. With a
          mission to uplift the agricultural community, Hacienda offers a
          dynamic space where farmers can seamlessly connect, collaborate, and
          flourish. Our vision is to empower agriculture through innovation,
          enabling farmers to embrace new opportunities and enhance their
          practices, all while streamlining the journey from farm to market.
        </p>
        <p-button label="Learn More" styleClass="p-button-success"></p-button>
      </div>
    </div>
  </section>

  <section class="another-container" fxLayout="column" fxLayoutGap="16px">
    <div class="another-main" fxLayout="row" fxLayout.lt-sm="column">
      <div class="another-text" fxFlex="50" fxFlex.lt-sm="100">
        <h1>World Class Farming Techniques</h1>
        <h5>The Farming Life</h5>
        <p>
          Embracing the spirit of world-class farming and products from Hacienda
          and its farmers, we create an environment where excellence flourishes
          and evolves. Devoted to delivering an exceptional agricultural
          experience, our domain is enriched with cutting-edge resources,
          fostering collaboration, innovation, and personal growth.
          <br />
          <br />
          At Hacienda, our commitment goes beyond the agricultural sphere. With
          a nurturing community, diverse offerings, and access to top-tier
          farming facilities, our space transforms into a thriving hub, where
          you can fully embrace the richness of farming and products, embark on
          a journey of self-discovery, and make the most of a transformative
          farming experience.
        </p>
        <p-button label="Learn More" styleClass="p-button-success"></p-button>
      </div>
    </div>
  </section>
</div>
